@use "sass:meta";
@use "mixins";
@use "customizer/accordion";
@use "customizer/range-slider";
@use "customizer/switch";
@use "customizer/layout";

.pfwp-customize {
  &-control {
    float: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    &:not(.pfwp-customize-control-select2){
      overflow: hidden;
    }
  }

  @include accordion.accordion;
  @include layout.layout;
  @include range-slider.range-slider;
  @include switch.switch;
}

[id*="pf-metabox"] {
  @include meta.load-css("metaboxer/quick-box");
  @include meta.load-css("metaboxer/image-quick-box");
  @include meta.load-css("metaboxer/tabs");

  &.termbox {
    @include meta.load-css("metaboxer/term-box");
  }
}

html.wysiwyg-fix {
  overflow-y: scroll;
}
