.pf-quick-metabox,
.pf-metabox {

  input[type="text"],
  select,
  textarea {
    width: 100%;
    max-width: 300px;
  }

  textarea {
    min-height: 75px;
    max-width: 500px;
    width: 100%;
    height: 115px;
  }

  .field {
    margin-bottom: 10px;

    &-label {
      display: block;
      font-weight: 600;
      margin: 0 0 4px;

      span {
        font-weight: normal;
      }
    }

    &-radios,
    &-checkboxes,
    &-multi_post {
      background: #ffffff;
      padding: .5em;
      border: 1px solid #d9d9d9;
      max-width: 300px;
      max-height: 220px;
      overflow: auto;

      > .field-label {
        font-size: 15px;
        border-bottom: 1px dashed #aaa;
      }

      label {
        display: block;
        margin: 8px 0;

        span {
          font-weight: 600;
        }
      }
    }

    &-checkbox {
      label {
        display: block;
        margin: 8px 0;

        span {
          font-weight: 600;
        }
      }
    }

    &-wysiwyg {
      + div {
        margin-bottom: 15px;

        textarea {
          max-width: 100%;
        }
      }
    }
  }

  > .field-checkbox,
  .tabs-content > .field-checkbox {
    background: #ffffff;
    padding: .5em;
    border: 1px solid #d9d9d9;
    max-width: 300px;
    max-height: 220px;
    overflow: auto;
  }
}
