.pf-quick-metabox,
.pf-metabox {

  input[type="text"],
  select,
  textarea {
    width: 100%;
    max-width: 300px;
  }

  textarea {
    min-height: 75px;
    max-width: 500px;
    width: 100%;
    height: 115px;
  }

  .field {
    margin-bottom: 10px;

    &-label {
      display: block;
      font-weight: 600;
      margin-bottom: 4px;

      span {
        font-weight: normal;
      }
    }

    &-radios,
    &-checkboxes {
      background: #ffffff;
      padding: .5em;
      border: 1px solid #d9d9d9;
      max-width: 300px;
      max-height: 220px;
      overflow: auto;

      label {
        display: block;
        margin: 0 0 5px;
      }
    }

    &-wysiwyg {
      + div {
        margin-bottom: 15px;

        textarea {
          max-width: 100%;
        }
      }
    }
  }
}
