.tabs {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 0;

  &-title {
    float: left;
    margin: 0 0 -1px 0;

    &, > a {
      display: block;
    }

    > a {
      border: 1px solid #ccc;
      background: #f4f4f4;
      padding: 5px 10px;
      text-decoration: none;
      font-size: 12px;
      text-transform: capitalize;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      outline: none;
      box-shadow: none;
    }

    &.is-active > a {
      border-bottom-color: transparent;
      color: #444;
      background-color: #e6e6e6;
      cursor: default;
    }
  }

  &-contents {
    border: 1px solid #d9d9d9;
    border-top: none;
    padding: 8px 8px;
    margin-bottom: 1em;

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &-content {
    display: none;

    &.is-active {
      display: block;
    }
  }
}
