&-accordion {
  &-heading {
    background: #fff;
    border: 1px solid #dfdfdf;
    position: relative;
    padding: 10px 15px;
    height: auto;
    min-height: 20px;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: -1px;
    @include clearfix;

    &:hover {
      border-color: #999;
      cursor: pointer;
      z-index: 99;

      .pfwp-accordion-heading {
        color: #0073aa;
      }
    }

    .pfwp-accordion {
      &-heading {
        color: #23282d;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
      }

      &-handle {
        float: right;
        position: relative;
        z-index: 2;

          .toggle-indicator:after {
            content: "+";
            transition: all 300ms ease;
          }
      }

      &-enable-flag {
        display: block;
        position: absolute;
        top: 50%;
        right: 17px;
        width: 14px;
        height: 14px;
        margin-top: -8px;
        border-radius: 50%;
        z-index: 1;

        &.enabled {
          background: #2fca6c;
        }

        &.disabled {
          background: #fefefe;
        }
      }
    }

    &.enabled {
      .toggle-indicator {
        &, &:after { color: #fff;}
      }
    }

    &.active {
      border-top-color: #999;
      border-right-color: #999;
      border-left-color: #999;

        .item-edit .toggle-indicator:after {
          content: "-";
          transform: rotateY(180deg);
        }
    }
  }

  &-item {
    padding: 0 10px;

    &.active { padding-bottom: 10px; }
    &-first.active { padding-top: 10px; }
    &-last.active  { padding-bottom: 10px; }
  }

  &-footer {
    height: 0;
    min-height: 0;
    padding: 0;
    position: relative;

    &.active {
      border-bottom: 1px solid #999;
      margin-bottom: -1px;
      z-index: 99;
    }
  }

  &-item, &-footer {
    margin-bottom: 0;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    display: none !important;

    &.active {
      display: inherit !important;
    }
  }
}
