&-layout-options {
  input[type="radio"] {
    display: none;

    &:checked {
      & ~ .pfwp-customize-layout-option {
        border-color: #e14d43;
        background: #fff;

        &:after {
          color: #e14d43;
        }
      }

      & ~ .pfwp-customize-layout-option-label {
        color: #222;
        font-weight: bold;
      }
    }
  }

  label {
    display: block;
    padding-bottom: 10px;
  }
}

.pfwp-customize-layout-option {
  display: inline-block;
  border: 2px solid rgba(#000, 0.3);
  border-radius: 3px;
  width: 48px;
  height: 48px;
  position: relative;
  background: rgba(#fff, 0.5);
  margin-right: 10px;

  &:after{
    font-family: dashicons;
    font-size: 48px;
    display: block;
    position: absolute;
    line-height: 48px;
    top: 0;
    left: 0;
    color: rgba(#000, 0.5);
  }

  &.empty:after {
    content: "\f479";
  }
  &.fullwidth:after {
    content: "\f134";
  }
  &.left-sidebar:after {
    content: "\f136";
  }
  &.right-sidebar:after {
    content: "\f135";
  }

  &-label {
    top: 15px;
    position: relative;
  }
}
